{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">Welcome To The Song 100 Page</h1>
        <p class="lead font-italic text-success">The song 100 page opened in 2023, you can find trending songs of the years in it and a lot of information about the songs. Everything is beautiful with music...</p>
    </div>
</div>

    <div>
        <img class="img-fluid" src="{% static 'img/bc.jpg' %}" alt="">
    </div>
  
{% endblock %}
