{% extends 'layout.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">Welcome To The Song 100 Page</h1>
        <p class="lead font-italic text-success">The song 100 page opened in 2023, you can find trending songs of the years in it and a lot of information about the songs. Everything is beautiful with music...</p>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">

            {% if songs %}
                {% for song in songs %}
                    <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static song.get_image_path %}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">
                                <a href="{% url 'detail' song.id %}">{{ song.name }}</a>
                            </div>
                            <p class="card-text">  
                                {{ song.description }}
                            </p>
                            <p class="card-text">
                                <small class="text-muted">{{ song.created_date | timesince }}</small>
                            </p>
                        </div>
                    </div>
                </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">
                    <p>Şarkı Yok</p>
                </div>

            {% endif %}


           
        </div>
    </div>
{% endblock %}
